mixin buttonLink(href, content, classes)
    a(class='common-a opensans px-5 text-white rounded-pill fw-semibold text-decoration-none d-flex align-items-center justify-content-center' class=classes, href=href) #{content}

mixin overlay(radius,radiusClass)
    div(class='overlay',class=radiusClass, style=radius)

mixin orderCompelete 
     div(class='order opensans fw-bold rounded-pill p-3 d-flex align-items-center') #[i(class='order-icon green me-2 fs-4 fa-solid fa-circle-check') ] Order Compelete

mixin logo 
    a(class='navbar-brand d-flex align-items-center', href='#')
        img(class='img-logo', src="images/logo.png")
        h1(class='h1-logo green sen fw-bold m-0') Foad#[span(class='logo-span yellow') Road]